button {
  cursor: pointer;
  transition: all ease 0.3s;
}
.button {
  background-color: $default-blue;
  border: 3px solid transparent;
  border-radius: 14px;
  padding: 26px 20px;
  max-width: 400px;
  // min-width: 300px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  &:hover {
    background-color: $white;
    border: 3px solid #a1c4ff;
  }
  &:active {
    background-color: $high-blue;
  }
  @media (max-width: $tablet) {
    padding: 20px;
    font-size: 20px;
    line-height: 26px;
  }
  @media (max-width: $mobile) {
    padding: 20px;
    font-size: 20px;
    line-height: 26px;
    min-width: 300px;
  }

  &--secondary {
    padding: 8px 38px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 0px #0000001d;
  }
}
