// color variables:
$high-blue: #A1C4FF;
$light-blue: #F3F7FE;
$sky-blue: #EFF5FF;
$default-blue: #DBE8FE;
$lavander-blue: #A9B0FC;
$pink: #FFE7E2;
$high-pink: #FFC4B8;
$violet:  #E3DEFF;
// $violet:  #D4CCFF;
$high-violet:  #9580FF;
$specific-blue__secondary: #73A6B0;
$blues-secondary: #398290;
$black: #000;
$light-black: #5A5A5A;
$grey: #6B6B6B;
$light-grey: #F9F9F9;
$white: #fff;
$yellow-crown: #ffe695;
$golden-crown: #d3b973;
$golden-crown__secondary: #ae9245;
$light-yellow: #fff5d5;
$gray: #b8b8b8;
