// color variables:
$light-blue: #F3F7FE;
$default-blue: #DBE8FE;
$lavander-blue: #A9B0FC;
$specific-blue__secondary: #73A6B0;
$blues-secondary: #398290;
$black: #000;
$light-black: #5A5A5A;
$white: #fff;
$yellow-crown: #ffe695;
$golden-crown: #d3b973;
$golden-crown__secondary: #ae9245;
$light-yellow: #fff5d5;
$gray: #b8b8b8;
