.slogan {
  &__items {
    display: flex;
    column-gap: 50px;
  }
  &__text {
    max-width: 656px;
    display: flex;
    flex-direction: column;
    row-gap: 93px;
    margin-top: 147px;
    &-title {
      & span {
        color: $lavander-blue;
      }
    }
    &-description {
      max-width: 80%;
      color: $light-black;
    }
  }
}

.section {
  margin-bottom: 160px;
}

.aboutUs {
  margin-top: 48px;
  &__title {
    // margin-bottom: 90px;
  }
  &__cols {
    display: flex;
    justify-content: space-between;
    &-left {
      margin-top: 90px;
      max-width: 430px;
      & p:first-of-type {
        max-width: 350px;
        margin-bottom: 108px;
      }
      & p:last-of-type {
        font-family: RFDewiExpanded;
        font-size: 200px;
        line-height: 300px;
        color: #ECF3FF;
      }
    }
    &-right {
      position: relative;
      flex-basis: 734px;
      & .aboutUs__img{
        float: right;
      }
      & .aboutUs__text {
        display: flex;
        column-gap: 13px;
        align-items: center;
        position: absolute;
        content: "";
        border-radius: 10px;
        padding: 20px 15px;
        &:first-of-type {
          background-color: $default-blue;
          top: 61px;
          left: 0;
        }
        &:nth-of-type(2) {
          top: 185px;
          right: 10px;
          background-color: $pink;
        }
        &:last-of-type {
          left: 0;
          bottom: 145px;
          background-color: $violet;
        }
        &--blue {
          background-color: $high-blue;
        }
        &--pink {
          background-color: $high-pink;
        }
        &--violet {
          background-color: $high-violet;
        }
      }
      & span {
        border-radius: 3px;
        padding: 2px;
        display: flex;
        & svg {
          width: 22px;
          height: 22px;
        }
      }
    }
  }
}
