.slogan {
  &__items {
    display: flex;
    column-gap: 50px;
  }
  &__text {
    max-width: 656px;
    display: flex;
    flex-direction: column;
    row-gap: 90px;
    margin-top: 147px;
    &-title {
      & span {
        color: $lavander-blue;
      }
    }
    &-description {
      max-width: 80%;
      color: $light-black;
    }
  }
}

.section {
  margin-bottom: 160px;
}

.aboutUs {
  margin-top: 74px;
  &__title {
  }
  &__cols {
    display: flex;
    justify-content: space-between;
    &-left {
      margin-top: 90px;
      max-width: 430px;
      & p:first-of-type {
        max-width: 350px;
        margin-bottom: 108px;
      }
      & p:last-of-type {
        font-family: RFDewiExpanded;
        font-size: 200px;
        line-height: 300px;
        color: #ecf3ff;
      }
    }
    &-right {
      position: relative;
      flex-basis: 734px;
      & .aboutUs__img {
        float: right;
      }
      & .aboutUs__text {
        display: flex;
        column-gap: 13px;
        align-items: center;
        position: absolute;
        content: "";
        border-radius: 10px;
        padding: 20px 15px;
        &:first-of-type {
          background-color: $default-blue;
          top: 61px;
          left: 0;
        }
        &:nth-of-type(2) {
          top: 185px;
          right: 10px;
          background-color: $pink;
        }
        &:last-of-type {
          left: 0;
          bottom: 145px;
          background-color: $violet;
        }
        &--blue {
          background-color: $high-blue;
        }
        &--pink {
          background-color: $high-pink;
        }
        &--violet {
          background-color: $high-violet;
        }
      }
      & span {
        border-radius: 3px;
        padding: 2px;
        display: flex;
        & svg {
          width: 22px;
          height: 22px;
        }
      }
    }
  }
}

.services {
  &__title {
    margin-bottom: 90px;
  }
}

.accordion {
  &__item {
    &-title {
      display: flex;
      align-items: center;
      column-gap: 30px;
      & p {
        font-size: 30px;
        line-height: 36px;
        color: $grey;
      }
    }
    &--trigger {
      padding: 40px 0;
      border-top: 1px solid;
      border-color: black;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &--arrow {
      transition: all 0.2s ease;
      & svg {
        width: 40px;
        height: 35px;
        fill: $violet;
      }
    }
    &--content {
      padding: 20px 0;
      display: none;
      margin-left: auto;
      max-width: 60%;
    }
    &--active .accordion__item--content {
      display: block;
    }

    &--active .accordion__item--arrow {
      transform: rotate(180deg);
    }
  }
}

.callUs {
  background-image: url("@img/background-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0;
  &__content {
    max-width: 764px;
    & p {
      margin-top: 55px;
      margin-bottom: 60px;
    }
  }
  &__form {
    display: flex;
    justify-content: flex-start;
    column-gap: 27px;
  }
}

.advantages {
  &__title {
    margin-bottom: 90px;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: 70px;
    column-gap: 30px;
  }
  &__card-item {
    border-radius: 15px;
    box-shadow: 0px 4px 10px 0px #dbe8fe;
    padding: 43px 20px;
    position: relative;
    justify-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 27px;
    min-height: 234px;
  }
  &__card-icon {
    width: 100px;
    height: 100px;
    display: inline-block;
    position: absolute;
    top: -45px;
    & svg {
      width: 98px;
      height: 98px;
      fill: $default-blue;
    }
  }
}

.portfolio {
  &__title {
    margin-bottom: 90px;
  }
  & .portfolio__wrapper {
    position: relative;
  }
}

.additional {
  background-image: url("@img/background-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  &__title {
    padding: 147px 0;
  }
}

.process {
  background: linear-gradient(
    0deg,
    rgba(219, 232, 254, 0) 0%,
    rgba(219, 232, 254, 0.39) 35%,
    rgba(219, 232, 254, 0) 100%
  );
  &__title {
    margin-bottom: 90px;
  }
  &__card {
    --cols: 1;
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    gap: 173px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      background-image: url("@img/icons/icons.svg#mouse-click");
      background-size: contain;
      background-repeat: no-repeat;
      width: 120px;
      height: 120px;
      z-index: 1;
      top: -60px;
      left: -65px;
    }
    &-item {
      --col: 0;
      order: var(--num);
      border-radius: 15px;
      min-height: 146px;
      display: flex;
      align-items: center;
      background-color: $white;
      box-shadow: 0px 4px 4px 0px #0000001a;
      padding: 13px 22px;
      &.last {
        position: static;
      }
    }
    &.last {
      position: static;
    }
    &-item:nth-child(6n + 6)::after {
      display: none;
    }
    @media (min-width: $laptop) {
      --cols: 3;
      &-item {
        min-height: 176px;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          background-image: url("@img/icons/icons.svg#Arrow");
          background-size: contain;
          background-repeat: no-repeat;
          width: 100px;
          height: 100px;
          top: 50%;
          margin-top: -50px;
        }
      }
      &-item:nth-child(3n + 1) {
        --col: 0;
      }
      &-item:nth-child(3n + 2) {
        --col: 1;
      }
      &-item:nth-child(3n + 3) {
        --col: 2;
      }
      &-item:nth-child(6n + 4),
      &-item:nth-child(6n + 5),
      &-item:nth-child(6n + 6) {
        order: calc(var(--num) + var(--cols) - 2 * var(--col) - 1);
      }

      &-item:nth-child(3n + 1),
      &-item:nth-child(3n + 2) {
        &::after {
          right: -50%;
          transform: rotate(-90deg);
        }
      }

      &-item:nth-child(3n + 3)::after {
        bottom: -50%;
        margin-bottom: -50px;
        transform: rotate(0deg);
        top: auto;
        left: 50%;
        margin-left: -50px;
      }

      &-item:nth-child(6n + 4),
      &-item:nth-child(6n + 5) {
        &::after {
          left: -50%;
          transform: rotate(90deg);
        }
      }

      &-item:nth-child(6n + 6)::after {
        display: none;
      }
    }

    @media (min-width: $tablet) and (max-width: 1199px) {
      gap: 145px;
      --cols: 3;
      &::before {
        position: absolute;
        content: "";
        background-image: url("@img/icons/icons.svg#mouse-click");
        background-size: contain;
        background-repeat: no-repeat;
        width: 70px;
        height: 70px;
        z-index: 1;
        top: 0;
        left: -45px;
      }
      &-item {
        min-height: 176px;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          background-image: url("@img/icons/icons.svg#Arrow");
          background-size: contain;
          background-repeat: no-repeat;
          width: 100px;
          height: 100px;
          top: 50%;
          margin-top: -50px;
        }
      }
      &-item:nth-child(3n + 1) {
        --col: 0;
      }
      &-item:nth-child(3n + 2) {
        --col: 1;
      }
      &-item:nth-child(3n + 3) {
        --col: 2;
      }
      &-item:nth-child(6n + 4),
      &-item:nth-child(6n + 5),
      &-item:nth-child(6n + 6) {
        order: calc(var(--num) + var(--cols) - 2 * var(--col) - 1);
      }

      &-item:nth-child(3n + 1),
      &-item:nth-child(3n + 2) {
        &::after {
          right: -50%;
          transform: rotate(-90deg);
        }
      }

      &-item:nth-child(3n + 3)::after {
        bottom: -50%;
        margin-bottom: -50px;
        transform: rotate(0deg);
        top: auto;
        left: 50%;
        margin-left: -50px;
      }

      &-item:nth-child(6n + 4),
      &-item:nth-child(6n + 5) {
        &::after {
          left: -50%;
          transform: rotate(90deg);
        }
      }
    }

    @media (min-width: 650px) and (max-width: 1023px) {
      --cols: 2;
      row-gap: 151px;
      &::before {
        position: absolute;
        content: "";
        background-image: url("@img/icons/icons.svg#mouse-click");
        background-size: contain;
        background-repeat: no-repeat;
        width: 70px;
        height: 70px;
        z-index: 1;
        top: 0;
        left: -45px;
      }
      &-item {
        min-height: 176px;
        position: relative;

        &::after {
          position: absolute;
          content: "";
          background-image: url("@img/icons/icons.svg#Arrow");
          background-size: contain;
          background-repeat: no-repeat;
          width: 100px;
          height: 100px;
          top: 50%;
          margin-top: -50px;
        }
      }
      &-item:nth-child(2n + 1) {
        --col: 0;
        &::after {
          right: -50%;
          transform: rotate(-90deg);
        }
      }

      &-item:nth-child(2n + 2) {
        --col: 1;
        &::after {
          top: auto;
          margin-top: auto;
          bottom: -50%;
          margin-bottom: -50px;
          left: 50%;
          margin-left: -50px;
          transform: rotate(0deg);
        }
      }
      &-item:nth-child(3n + 3),
      &-item:nth-child(3n + 4) {
        order: calc(var(--num) + var(--cols) - 2 * var(--col) - 1);
      }

      &-item:nth-child(3n + 3)::after {
        right: auto;
        left: -50%;
        transform: rotate(90deg);
      }
    }
  }
}

.price {
  &__title {
    margin-bottom: 90px;
  }
  &__text {
    max-width: 640px;
    & p:first-child {
      margin-bottom: 51px;
    }
  }
}

.contactForm {
  &__wrapper {
    border-radius: 38px;
    overflow: hidden;
  }
  &__dots {
    background-color: $violet;
    height: 79px;
    padding: 35px 36px 22px 36px;
    display: flex;
    justify-content: flex-start;
    column-gap: 19px;
    &-item {
      border-radius: 50px;
      width: 22px;
      height: 22px;
      background-color: #ffd232;
      &:first-child {
        background-color: #ff0000;
      }
      &:last-child {
        background-color: #5cc906;
      }
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    padding: 58px 56px;
    background-color: $light-grey;
    &-text {
      max-width: 480px;
      &-title {
        margin-bottom: 60px;
        font-family: RFDewi;
        font-weight: 400;
      }
      &-content {
        display: flex;
        flex-direction: column;
        row-gap: 38px;
        &__item {
          & a {
            display: flex;
            align-items: center;
            column-gap: 33px;
          }
          & svg {
            width: 34px;
            height: 34px;
          }
        }
      }
    }
    &-form {
      max-width: 460px;
    }
  }
}
