.slogan {
  &__items {
    display: flex;
    column-gap: 50px;
  }
  &__text {
    max-width: 656px;
    display: flex;
    flex-direction: column;
    row-gap: 93px;
    margin-top: 147px;
    &-title {
      & span {
        color: $lavander-blue;
      }
    }
    &-description {
      max-width: 80%;
      color: $light-black;
    }
  }
}

.section {
  margin-bottom: 160px;
}

.aboutUs {
  margin-top: 48px;
  &__title {
    // margin-bottom: 90px;
  }
  &__cols {
    display: flex;
    justify-content: space-between;
    &-left {
      margin-top: 90px;
      max-width: 430px;
      display: flex;
      flex-direction: column;
      row-gap: 108px;
    }
    &-right {
      
    }
  }
}
