.portfolio__swiper.swiper {
}

.portfolio__swiper-wrapper.swiper-wrapper {
}

.portfolio__swiper-slide.swiper-slide {
  border-radius: 10px;
  background-color: $sky-blue;
  min-height: 570px;
  padding: 45px 0 20px 0;
  display: flex;
  flex-direction: column;
  transition: all ease 0.3s;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 40px;
  & picture {
  }
  & .portfolio-card {
    opacity: 0;
    transition: all ease 0.4s;
    width: 100%;
    height: 306px;
    object-fit: contain;
    object-position: right;
  }

  & .portfolio__swiper-slide__text {
    padding: 0px 26px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    min-height: 168px;
    transform: translateY(40%);
    transition: all ease 0.9s;
  }

  & .portfolio__swiper-slide__title {
  }

  & .portfolio__swiper-slide__description {
    font-size: 20px;
    line-height: 26px;
    opacity: 0;
    transition: all ease 0.4s;
  }

  &:hover {
    box-shadow: 0px 4px 3px 0px #0000001a;
  }

  &:hover .portfolio-card {
    opacity: 1;
    transition: all ease 0.9s;
  }

  &:hover .portfolio__swiper-slide__text {
    transform: translateY(0);
    transition: all ease 0.4s;
  }

  &:hover .portfolio__swiper-slide__description {
    opacity: 1;
    transition: all ease 0.9s;
  }

  @media (min-width: $laptop) {
    // height: 570px;
  }
  @media (max-width: $laptop) {
    // height: 470px;
  }
  & .portfolio-card__big {
    
    display: none;
  }
}

.portfolio__swiper-navigation .swiper-button-prev {
  background-color: #eef9ff80;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  margin-top: -50px;
  @media (max-width: $L-mobile) {
    display: none;
  }
}
.portfolio__swiper-navigation .swiper-button-next {
  background-color: #eef9ff80;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  margin-top: -50px;
  @media (max-width: $L-mobile) {
    display: none;
  }
}
.portfolio__swiper-navigation .swiper-button-prev::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("@img/icons/icons.svg#Arrow");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(90deg);
}

.portfolio__swiper-navigation .swiper-button-next::after {
  content: "";
  background-image: url("@img/icons/icons.svg#Arrow");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 60px;
  height: 60px;
  transform: rotate(-90deg);
}

.portfolio__swiper-navigation .swiper-button-prev.swiper-button-disabled,
.portfolio__swiper-navigation .swiper-button-next.swiper-button-disabled {
  // display: none;
}

.portfolio__swiper-navigation
  .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: auto;
  display: block;
}

.portfolio__swiper-navigation .swiper-pagination {
  display: none;
}
