.portfolio__swiper.swiper {
}

.portfolio__swiper-wrapper.swiper-wrapper {
}

.portfolio__swiper-slide.swiper-slide {
  border-radius: 10px;
  background-color: $sky-blue;
  min-height: 470px;
  padding: 20px 26px;
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  justify-content: flex-end;
  transition: all ease 0.3s;
  overflow: hidden;
  & img {
    opacity: 0;
    transition: all ease 0.4s;
  }

  & h3 {
    transition: all ease 0.4s;
    transform: translateY(100%);
  }

  & p {
    opacity: 0;
    transform: translateY(100%);
    transition: all ease 0.4s;
  }

  &:hover img {
    opacity: 1;
    transition: all ease 0.9s;
  }

  &:hover h3 {
    transition: all ease 0.4s;
    transform: translateY(0);
  }

  &:hover p {
    opacity: 1;
    transform: translateY(0);
    transition: all ease 0.9s;
  }

  @media (min-width: $laptop) {
    height: 570px;
  }
  @media (max-width: $laptop) {
    height: 470px;
  }
}

.portfolio__wrapper .swiper-button-prev {
  background-color: #eef9ff80;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  left: -116px;
  margin-top: -50px;
}
.portfolio__wrapper .swiper-button-next {
  background-color: #eef9ff80;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  right: -116px;
  margin-top: -50px;
}
.portfolio__wrapper .swiper-button-prev::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("@img/icons/icons.svg#Arrow");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(90deg);
}

.portfolio__wrapper .swiper-button-next::after {
  content: "";
  background-image: url("@img/icons/icons.svg#Arrow");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 60px;
  height: 60px;
  transform: rotate(-90deg);
}

.portfolio__wrapper .swiper-button-prev.swiper-button-disabled,
.portfolio__wrapper .swiper-button-next.swiper-button-disabled {
  display: none;
}
