@import "normalize.css/normalize";
@import "base/module";
@import "vendors/module";
@import "components/module";
@import "layout/module.scss";
@import "pages/module.scss";
@import "fonts.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 1px solid #a1c4ff;
}

ol,
ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-family: RFDewi;
  font-weight: 400;
  font-display: swap;
  font-size: 24px;
  line-height: 30px;
  font-feature-settings: "lnum";
  color: $black;
  background-color: $white;
  &.lock {
    overflow: hidden;
  }
}

.header-slogan {
  padding-top: 50px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.9247899843531162) 0%,
    rgba(239, 245, 255, 1) 29%
  );
  @media (max-width: $L-mobile) {
    padding-top: 32px;
  }
}
